h2, p, h1, a{
    font-family: 'Jomolhari', serif;
}
/* Div Elements */
div[class="col-"]{
    float: left;
    box-sizing: border-box;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}
div.col-1-1{
    width: 100%;
}
div.col-48-100{
    width: 48%;
    
}
div.col-52-100{
    width: 52%;
}
div#item{
    text-align: right;
    align-content: right;
    float: right
}
div#description{
    padding-left: 25px;
    padding-right:5px;
    padding-top: 30px;
}

/* ===================================================== */
/* html and Body elements */
html{
    background-color: #00188E;
    width: 100%;
}
body{
    background: linear-gradient(#717276, #C5C5C6);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

img{
    position: relative;
}
button{
    background: transparent;
    border: none;
}
/* ======================================================= */
/* header element */
header{
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: */
    margin-right: 2px;
    margin-left: 2px;

}
h1{
    font-size: 2.2em;
    text-align: center;
}
h2{
    font-size: 1.75em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.project h2{
    position: absolute;
    left: 669px;
}
h2.skills{
    padding-top: 40px;
}
/* ======================================================= */
/* section elements */
section.aboutMe{
    word-wrap: normal;
    
      
}
section.project{
    margin-left: auto;
    margin-right: auto;
    flex-flow: row wrap;
    display: flex;
    float: right;
    padding-left: 10%;
    padding-right: 10%;
   
}
/* ======================================================= */
/* anchor elements */
a#contact{
    margin-bottom: 15px
}
a{
    text-decoration: none;
    color: black;
}
a:hover, a:active{
    color: white;
}
/* ======================================================= */
/* unordered list elements */
ul#contact{
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
}
ul#contact li{
    text-decoration: none;
    margin-left: 10px;
    list-style-type: none;
}
ul#contact li{
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}
/* ======================================================= */
/* Image elements */
img{
    margin: 0px;
}
img#projectpic1{
    margin-top: 30px;
}
img#badge2{
    float: left;
    margin-bottom: 50px; 
}
img#badge1{
    float:left;
    margin-bottom: 50px;
}


img#leftArrow{
    position: absolute;
    left: 100px;
    transform: rotate(180deg);
    margin-top: 150px
}
img#rightArrow{
    position: absolute;
    right: 100px;
    margin-top: 140px

}

/* ======================================================= */
/* Paragraph elements */

/*makes badges aligned in middle*/
div#images{
    text-align: center;
    align-content: center;
}

p#name{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

img#me{
    margin-left: 2em;
    margin-right: 2em;
}
p#aboutMe{
    margin: 0 5em;
    padding-top: 3em;
}
.header{
    display: flex;  
}