div[class="col-"]{
    float: left;
    box-sizing: border-box;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}
div.col-1-1{
    width: 100%;
}
div.col-48-100{
    width: 48%
    
}
div.col-52-100{
    width: 52%;
}
html{
    background-color: gray;
}
header{
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* background-color: */
    margin-right: 2px;
    margin-left: 2px;

}
a #logo{
    position: absolute;
    top: 5px;
    left: 5px;
}
body h1#title{
    position: absolute;
    top: 15px;
    left: 46%;
}
section.aboutMe{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      align-content: center;
}
section.project{
    margin-left: auto;
    margin-right: auto;
    flex-flow: row wrap;
    display: flex;
    float: right;
    padding-left: 10%;
    padding-right: 10%;
}
div#item{
    text-align: right;
    align-content: right;
    
}
div#description{
    padding-left: 15px;
    padding-right:15px;
    padding-top: 30px;
}
img{
    margin: 0px;

}
a#contact{
    margin-bottom: 15px
}
ul#contact{
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
}
ul#contact li{
    text-decoration: none;
    margin-left: 10px;
    list-style-type: none;
}